ul {
    border: 2px solid;
    background-color: lightgrey;
}
li {
    text-align: left;
    display: inline-block;
    width: 240px;
}
.carousel {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: aquamarine;
}
form {
    vertical-align: middle;
}
h4 {
    color: grey;
    border-top: 2px solid  black;
}
.box {
    display: inline-block;
}
article {
    border: 40px solid lightgrey;
}
input,
textareal {
    width: 80%;
    margin-top: 10px;
}